// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// @type Common Color
$primary: #fff;
$white: rgb(255, 255, 255) !default;
$dark-back: rgba(0,0,0, 0.5);

/// @type Layer's Color
$preloader: #30c9ab;

$color-placeholder: #000;
$opacity-placeholder: rgba(0,0,0,.5);

$menu_color: #2F2F2F;
$menu_color--active: #3DA530;

$hamburger: #979797;

$text-color: #353535 !default;
$title-color: #cdcdcd;