// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// @type List
$text-font-stack: 'Roboto', 'Arial', sans-serif !default;

/// @type Screen Sizes
$phone-landscape: 480px;
$tablet-portrait: 768px;
$tablet-laptop: 992px;
$large-tablets: 1024px;
$desktop: 1200px;

/// @type Length
$max-width: 768px !default;
