// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// @type List
$text-font-stack: 'Inter', 'Arial', sans-serif !default;

/// @type Layer's Size
$preloader-size: 60px;

/// @type Screen Sizes
$phone-landscape: 480px;
$tablet-portrait: 768px;
$tablet-laptop: 992px;
$large-tablets: 1024px;
$desktop: 1200px;

/// @type Length
$max-width: 1260px !default;

/// Breakpoints map
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;
