// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a placeholder animation
 */
::-webkit-input-placeholder,
:-moz-placeholder,
.placeholder {
  color: $color-placeholder;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}
:focus{
  color: $opacity-placeholder !important;

  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &:-moz-placeholder,
  &:-ms-input-placeholder {
    color: $opacity-placeholder !important;
  }
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-width: 320px;
  min-height: 100%;
  font-family: $text-font-stack;
  font-size: 28px;

  & > * {
    width: 100%;
  }

  li, p, h1, h2, h3,
  h4, h5, h6 {
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    margin: 0;
    color: #2d2e2f;
  }
}

ul, ol, menu {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

a {
  color:$text-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
  }
}

textarea {
  resize: none;
  overflow: auto;
}
