.tags {

    &__item {
        display: inline-block;
        margin: 0 5px 5px 0;
        padding: 2px 15px 4px;
        border-radius: 15px;
        color: #fff;
        background-color: #0f52ba;
        font-size: 16px;
    }
}
