.tags-filter {
    display: inline-block;
    position: relative;

    &__popup {
        position: absolute;
        top: 100%;
        width: 100%;
        max-height: 400px;
        padding: 5px 15px 5px 5px;
        background-color: #fff;
        box-shadow: 5px 5px 10px #ccc;
        z-index: 22;
        overflow-y: auto;
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s ease, visibility .3s ease;

        &.is-open {
            opacity: 1;
            visibility: visible;
        }

        li:not(:last-child) {
            margin-bottom: 5px;
            padding: 5px 10px;
            white-space: normal;
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: pointer;
            transition: background-color .3s ease;

            &:hover {
                background-color: #ccc;
            }
        }
    }

    &__popup-message {
        padding: 10px;
        pointer-events: none;
        text-align: center;
    }
}
